/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ================================STILE CHAT===================================*/
/* 
body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.logo {
  width: 40px;
  height: 40px;
}

.BoxChat {
  width: 300px;
  heigt: 300px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
}

.BoxSendMsg {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  border: 5px solid;
  border-radius: 20px;
}

.BoxSendMsg input {
  height: 1rem;

  flex-grow: 2;
}

.BoxSendMsg button {
  height: 30px;
  flex-grow: 1;
  background: none;
  border: none
}

.BoxSendMsg button:active {
  background-color: rgb(255, 213, 0);
  border-radius: 20px
} */

/* =======================================Cells============================================ */

/* .howmanycells {
  width: 400px
}

.cell {
  width: 100px;
} */

/* ========================================ToDoList====================================*/

/*==============================================Contatore=======================================*/

/*============================TicTacToe=================================*/
/*
.board-row {
  height: 30px;
}

.square {
  height: 30px;
  width: 30px;
}
*/

/* =========================================Quasi====================================== */

/* .quasibottone {
  height: 50px;
  width: 70px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

button {
  height: 20px;
  align-self: center;
} */

/*=============================================Forum==============================================*/

.divvone {
  padding: 50px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column
}

.header {
  text-align: center;
  letter-spacing: 2rem;
}

.header h1:first-child {
  color: rgb(171, 228, 209);
  font-weight: 900;
  font-size: 80px;
  margin: -40px;
  letter-spacing: 2rem;
}

.divvetto {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 500px;
  margin-right: 20px;
}

.post p:first-letter{
  font-size:250%;
  float:left;
  margin-top: -5px;
  padding-right:10px;
  text-transform: uppercase;
}

.comment p:first-letter {
  text-transform: uppercase;
}

.post {
  border: 2px dotted grey;
  padding-left: 0.5rem;
  padding-right: 0.5 rem;
  padding-top: 0px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment {
  margin-left: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5 rem;
  padding-top: 0px;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px dotted rgb(255, 215, 182);
}




